*::-webkit-input-placeholder {
	color: #5D769D;
	opacity: 1;
}
*:-moz-placeholder {
	color: #5D769D;
	opacity: 1;
}
*::-moz-placeholder {
	color: #5D769D;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #5D769D;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Geologica';
	font-size: 16px;
	line-height: 160%;
	font-weight: 300;
	color: #0D336E;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.section-welcome {
	padding-top: 39px;
	padding-bottom: 47px;
	color: #fff;
	background-color: #0094FF;
	background-image: url(../img/bg_welcome.svg);
	background-repeat: no-repeat;
	background-position: center right;
}
.btn-main {
	height: 40px;
	font-size: 14px;
	padding: 0 20px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Geologica';
	color: #fff;
	font-weight: 400;
	border: none;
	transition: all 0.6s;
	cursor: pointer;
	border-radius: 5px;
	background: #0094FF;
}
.btn-main:hover {
	background: #0075ca;
}
.btn-main_white {
	color: #0D336E;
	background-color: #fff;
}
.btn-main_white:hover {
	background-color: #ebe6e6;
}
.buttons-wrap .btn-main {
	height: 43px;
	min-width: 186px;
	margin-right: 13px;
}
.buttons-wrap {
	display: flex;
	align-items: center;
}
.btn-main_transparent {
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}
.btn-main_transparent:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.text-page p {
	margin-bottom: 30px;
}
.text-page {
	font-size: 18px;
	line-height: 140%;
}
.section-welcome .text-page {
	max-width: 758px;
}
.title-middle {
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}
.section-welcome .title-middle {
	margin-bottom: 30px;
}

.billbord {
	padding-top: 171px;
	padding-bottom: 72px;
	position: relative;
	background: #FCFCFC;
	position: relative;
}
.descr-billbord {
	font-size: 21px;
	padding-bottom: 16px;
	color: #5D769D;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	font-family: 'Raleway';
}
.slider-billbord:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.title-big {
	font-size: 56px;
	color: #0D336E;
	font-weight: 600;
	font-family: 'Raleway';
	line-height: 140%;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 8px;
	height: 8px;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	background-color: #D9D9D9;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #0094FF;
}
.slick-dots li button::before {
	display: none;
}
.slider-billbord {
	max-width: 780px;
	margin-bottom: 80px;
	padding-bottom: 35px;
}
.slider-billbord .slick-dots {
	text-align: left;
}
.line-search {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-search {
	flex: 1;
}
.form-search__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-search input {
	height: 60px;
	padding: 0 30px;
	font-size: 16px;
	line-height: normal;
	font-weight: 300;
	font-family: 'Geologica';
	border-radius: 10px 0px 0px 10px;
	border: 1px solid #0094FF;
	background: #FFF;
	flex: 1;
	width: 100%;
}
.form-search .btn-main {
	height: 60px;
	width: 202px;
	font-size: 18px;
	padding: 0 10px;
	border-radius: 0px 10px 10px 0px;
}
.form-search .btn-main img {
	margin-right: 20px;
}
.btn-main.btn-main_catalog {
	height: 60px;
	padding: 0 40px;
	padding-right: 60px;
	font-size: 18px;
	margin-right: 33px;
	border-radius: 10px;
}
.btn-main.btn-main_catalog img {
	margin-right: 24px;
}
.list-tags {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.list-tags a {
	font-weight: 300;
	color: #5D769D;
}
.list-tags a:hover {
	color: #0D336E;
}

.header {
	padding: 32px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.6s;
	z-index: 1000;
}
.header.fixed {
	position: fixed;
	background-color: #FCFCFC;
}
.header__wrapper {
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
}
.menu a {
	color: #000;
	font-weight: 300;
	border-bottom: 1px solid transparent;
}
.menu a:hover {
	border-color: #000;
}
.menu li {
	margin-left: 50px;
}
.header__right {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.location-main__value {
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	color: #5D769D;
	transition: all 0.3s;
}
.location-main__value i {
	margin-right: 10px;
	font-size: 11px;
}
.location-main__value:hover {
	color: #0D336E;
}
.location-main {
	margin-right: 10px;
}
.btn-header {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	background-color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: none;
	border-radius: 50%;
	position: relative;
}
.btn-main_page {
	background: #0D336E;
}
.btn-main_page:hover {
	background: #00193f;
}
.header__right .btn-main {
	margin-left: 30px;
	padding: 0 15px;
}
.header__right .btn-main img {
	margin-right: 12px;
}

.services {
	padding: 43px 0;
}
.services-block {
	padding: 42px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.title-section {
	font-size: 30px;
	font-family: 'Raleway';
	font-weight: 600;
	line-height: 140%;
}
.descr-section {
	font-size: 18px;
	line-height: 160%;
}
.services-block .title-section {
	margin-bottom: 43px;
}
.services-block .descr-section {
	max-width: 400px;
}
.hint {
	width: 15px;
	height: 16px;
	margin-left: 4px;
	vertical-align: middle;
	background-image: url(../img/hint.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
}
.unit-service {
	padding-left: 84px;
	padding-top: 13px;
	margin-left: 40px;
	position: relative;
}
.unit-service::before {
	margin-left: -72px;
	font-size: 20px;
	position: absolute;
	top: 15px;
	left: 0;
	color: #5D769D;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	content: "\f054";
}
.unit-service__icon {
	top: 0;
	left: 0;
	position: absolute;
}
.unit-service__icon img {
	max-width: 52px;
	height: auto;
}
.unit-service__title {
	font-size: 21px;
	margin-bottom: 18px;
	font-weight: 500;
	font-family: 'Raleway';
	line-height: normal;
}
.unit-service li {
	padding-left: 15px;
	margin-bottom: 20px;
	line-height: normal;
	color: #0094FF;
	position: relative;
}
.unit-service li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.unit-service li a {
	color: #0094FF;
}
.unit-service li a:hover {
	color: #0D336E;
}
.advertisements {
	padding-top: 15px;
	padding-bottom: 65px;
}
.row_advertisements > div {
	margin-bottom: 30px;
}
.item-advertisement {
	padding: 14px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 0.6s;
}
.item-advertisement:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);	
}
.item-advertisement__image {
	height: 168px;
	margin-bottom: 16px;
	border-radius: 6px;
	display: block;
	width: 100%;
}
.item-advertisement__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-advertisement__title {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 140%;
	font-family: 'Raleway';
	display: block;
	width: 100%;
}
.btn-like {
	width: 20px;
	height: 20px;
	font-size: 18px;
	top: 21px;
	right: 21px;
	color: #0094FF;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
}
.btn-like.active i {
	font-weight: 700;
}
.item-advertisement__date {
	font-size: 12px;
	padding-bottom: 22px;
	margin-bottom: 16px;
	line-height: normal;
	display: block;
	position: relative;
	width: 100%;
	color: #5D769D;
}
.item-advertisement__date::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: #EBEBEB;
}
.price-main {
	font-size: 21px;
	font-weight: 500;
	line-height: normal;
}
.price-main span {
	font-size: 16px;
	margin-left: 7px;
	color: #5D769D;
	font-weight: 300;
}
.item-advertisement__buttons {
	padding-top: 21px;	
	margin: 0 -6px;
	display: flex;
	align-items: center;
}
.item-advertisement__buttons .btn-main {
	flex-grow: 1;
	margin: 0 6px;
}
.item-advertisement__bottom {
	width: 100%;
	margin-top: auto;
}
.advertisements .title-section {
	padding-bottom: 29px;
}
.item-advertisement__more {
	display: none;
}
.item-advertisement__text.cut + .item-advertisement__more {
	display: block;
}
.item-advertisement__text.active + .item-advertisement__more i {
	transform: rotate(180deg);
}
.item-advertisement__text.active {
	-webkit-line-clamp: initial;
}
.item-advertisement__text {
	line-height: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-advertisement__more {
	font-size: 12px;
	padding-top: 3px;
	color: #5D769D;
	text-align: right;
}
.item-advertisement__more a {
	color: #5D769D;
}
.item-advertisement__more a:hover {
	color: #0D336E;
}
.item-advertisement__more a i {
	margin-left: 8px;
	transition: all 0.3s;
}

.col-lg-6 .item-advertisement {
	padding: 20px;
	padding-left: 275px;
	min-height: 288px;
	height: 100%;
	position: relative;
}
.col-lg-6 .item-advertisement__image {
	position: absolute;
	left: 18px;
	width: 228px;
	height: 250px;
	top: 18px;
}
.col-lg-6 .item-advertisement__date::after {
	position: relative;
	width: initial;
	flex: 1;
	top: -2px;
	margin-left: 14px;
}
.col-lg-6 .item-advertisement__date {
	display: flex;
	align-items: flex-end;
	padding: 0;
	white-space: nowrap;
}
.col-lg-6 .btn-like {
	left: 217px;
	right: auto;
}
.col-lg-6 .item-advertisement__title {
	padding-right: 20px;
}
.col-lg-6 .item-advertisement__buttons {
	padding-top: 12px;
}
.col-lg-6 .item-advertisement__buttons .btn-main {
	flex: 1;
	flex-grow: 1;
}
.col-12 .item-advertisement {
	padding: 19px;
	flex-direction: row;
	align-items: initial;
}
.col-12 .item-advertisement__image {
	width: 315px;
	height: 212px;
	margin: 0;
	margin-right: 35px;
	flex: none;
}
.col-12 .item-advertisement__more {
	padding-top: 12px;
	text-align: left;
}
.col-12 .item-advertisement__bottom {
	width: 230px;
	padding-bottom: 10px;
	padding-top: 5px;
	flex: none;
	margin: 0;
	margin-left: 109px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.col-12 .item-advertisement__title {
	font-size: 24px;
}
.col-12 .item-advertisement__bottom::before {
	position: absolute;
	display: block;
	content: " ";
	top: -19px;
	left: -34px;
	bottom: -19px;
	width: 1px;
	background: #EBEBEB;
}
.col-12 .item-advertisement__buttons {
	display: block;
	margin: 0;
	width: 100%;
	margin-top: auto;
}
.col-12 .item-advertisement__buttons .btn-main {
	margin: 0;
	padding: 0;
	margin-top: 12px;
	width: 100%;
}
.col-12 .price-main span {
	display: block;
	margin: 0;
	margin-top: 2px;
}
.col-12 .btn-like {
	top: 26px;
	right: 30px;
}

.bottom-button {
	padding-top: 25px;
	text-align: center;
}
.btn-main_block {
	color: #5D769D;
	border: 1px solid #5D769D;
	background-color: transparent;
}
.btn-main_block:hover {
	color: #fff;
	background-color: #5D769D;
}
.bottom-button .btn-main {
	height: 50px;
}
.footer {
	padding-top: 39px;
	padding-bottom: 45px;
	color: #fff;
	font-weight: 400;
	background: #5D769D;
}
.footer__nav_main {
	font-size: 14px;
	margin-left: -30px;
	columns: 2;
	column-gap: 30px;
	font-weight: 300;
}
.footer__nav li {
	margin-bottom: 22px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer p a {
	color: #fff;
}
.footer__title {
	margin-bottom: 17px;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 40px;
	height: 40px;
	margin-left: 15px;
	background-color: #fff;
	border-radius: 50%;
	padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	display: none;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 16px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #5D769D;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 16px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #5D769D;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 16px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #5D769D;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	transform: rotate(-45deg); 
}
.menu-overlay {
	display: none;
}
.wrapper_page {
	padding-top: 99px;
}
.wrapper_page .header {
	padding: 25px 0;
	position: fixed;
	background: #FAFAFA;
}
.logo + .location-main {
	margin-left: 50px;
}
.btn-header__hint {
	padding: 11px 12px;
	color: #FFF;
	font-size: 12px;
	line-height: 100%;
	top: 100%;
	margin-top: 13px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	border-radius: 6px;
	background: #5D769D;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.btn-header__hint::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 5px;
	height: 5px;
	border: 5px solid transparent;
	border-bottom: 8px solid #5D769D;
}
.btn-header:hover .btn-header__hint {
	opacity: 1;
	visibility: visible;
}
.breadcrumbs {
	padding-top: 14px;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: normal;
	color: #5D769D;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #5D769D;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #5D769D;
}
.breadcrumbs li::after {
	content: "•";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.slider-nav__item {
	height: 90px;
	margin-bottom: 22px;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 5px;
}
.slider-nav__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 5px;
}
.slider-for__item {
	height: 316px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.slider-for__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 5px;
}
.slider-nav {
	padding: 0;
}
.slider-nav .slick-arrow {
	width: 24px;
	height: 24px;
	color: #223683;
	font-size: 15px;
	background: transparent;
	transform: rotate(90deg);
	left: 0;
	right: 0;
	margin: 0 auto;
	border: none;
}
.slider-nav .slick-prev {
	top: -10px;
}
.slider-nav .slick-next {
	bottom: -10px;
	top: auto;
}
.slick-arrow::before {
	display: none !important;
}
.page-card .title-section {
	padding-bottom: 30px;
}
.tabs {
	font-size: 20px;
	line-height: 140%;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs a {
	border-bottom: 3px solid transparent;
	color: #0D336E;
	display: block;
}
.tabs .active a,
.tabs a:hover {
	color: #5D769D;
	border-color: #0094FF;
}
.page-card .tabs {
	margin-top: 15px;
}
.tab-container {
	padding-top: 25px;
}
.tab-pane {
	display: none;
}
.tab-pane:nth-child(3) {
	display: block;
}
.location-map {
	margin-bottom: 17px;
	font-weight: 500;
	font-family: 'Raleway';
}
#map {
	height: 350px;
	border-radius: 20px;
	width: 100%;
	background-color: #ddd;
}
.page-card {
	padding-bottom: 25px;
}
.card-info {
	padding: 24px;
	top: 110px;
	border-radius: 15px;
	position: sticky;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	transition: all 0.3s;
}
.wrapper {
	overflow: initial;
}
.prices-line {
	margin-bottom: 43px;
	display: flex;
	align-items: center;
}
.card-info .price-main {
	font-size: 30px;
}
.price-descr {
	margin-left: 36px;
	color: #5D769D;
}
.feature {
	font-size: 14px;
	margin-bottom: 8px;
	line-height: normal;
	display: flex;
	align-items: center;
}
.feature__title {
	width: 45%;
	flex: none;
	font-weight: 500;
}
.card-info__bottom {
	margin: 0 -9px;
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-info__bottom .btn-main {
	height: 50px;
	margin: 0 9px;
	flex: 1;
}
.btn-main_favorite {
	color: #5D769D;
	background: #F2F9FF;
}
.btn-main_favorite i {
	font-size: 18px;
	margin-right: 15px;
}
.btn-main_favorite:hover {
	background: #dce7f0;
}
.btn-main_favorite.active i {
	font-weight: 700;
}
.card-info__left {
	padding-right: 24px;
}
.card-info_right {
	padding-left: 28px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.card-info_right::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0px;
	bottom: 0;
	width: 1px;
	background: #EBEBEB;
}
.unit-person {
	display: flex;
	width: 100%;
}
.unit-person__image {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50%;
	flex: none;
}
.unit-person__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.unit-person__content {
	flex: 1;
}
.unit-person__name {
	margin-bottom: 10px;
	font-weight: 400;
	line-height: 140%;
}
.rating-wrap {
	margin-bottom: 6px;
	display: flex;
	align-items: center;
}
.rating-wrap__value {
	margin-right: 10px;
	font-weight: 500;
}
.rating-wrap__reviews {
	font-size: 12px;
	color: #5D769D;
}
.card-info__buttons .btn-main {
	height: 44px;
	margin-top: 14px;
	width: 100%;
}
.card-info__buttons {
	margin-top: auto;
	width: 100%;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 16px;
	color: #5D769D;
	cursor: pointer;
	transition: all 0.3s;
	margin-right: 1px;
}
.rating_1 > .rating__item:nth-child(1) i {
	color: #0D336E;
}
.rating_2 > .rating__item:nth-child(-n+2) i {
	color: #0D336E;
}
.rating_3 > .rating__item:nth-child(-n+3) i {
	color: #0D336E;
}
.rating_4 > .rating__item:nth-child(-n+4) i {
	color: #0D336E;
}
.rating_5 > .rating__item:nth-child(-n+5) i {
	color: #0D336E;
}
.rating__item.active {
	color: #0D336E;
}
.page-card__top {
	padding-bottom: 37px;
}
.page-card__top + .title-section {
	padding-bottom: 26px;
}
.page-catalog .title-section {
	padding-bottom: 29px;
}
.sidebar-catalog__head {
	padding: 20px 10px;
	font-size: 18px;
	color: #5D769D;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-family: 'Raleway';
}
.unit-sidebar__head {
	font-size: 18px;
	padding: 12px 40px;
	padding-right: 12px;
	font-weight: 500;
	color: #fff;
	line-height: normal;
	background: #0094FF;
	cursor: pointer;
	position: relative;
}
.nav-sidebar ul li a::before,
.nav-sidebar__haschild > a::before,
.unit-sidebar__head::before {
	left: 14px;
	position: absolute;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	content: "\f060";
	display: flex;
	align-items: center;
	height: 100%;
	top: 0;
}
.unit-sidebar__head::before {
	visibility: hidden;
}
.unit-sidebar__head.active::before {
	visibility: visible;
}
.nav-sidebar > li > a {
	color: #0D336E;
	display: flex;
	align-items: center;
}
.unit-sidebar__content {
	padding: 14px;
}
.nav-sidebar > li {
	margin-bottom: 28px;
}
.nav-sidebar > li:last-child {
	margin-bottom: 0;
}
.nav-sidebar__haschild > a::before {
	margin-right: 10px;
	position: relative;
	left: 0;
	display: none;
}
.nav-sidebar__haschild.active > a::before {
	display: block;
}
.nav-sidebar ul {
	padding: 0 50px;
	padding-top: 20px;
	color: #5D769D;
	display: none;
}
.nav-sidebar ul li {
	margin-bottom: 20px;
}
.nav-sidebar ul li a {
	color: #5D769D;
	position: relative;
	border-bottom: 1px solid transparent;
}
.nav-sidebar > li > a:hover,
.nav-sidebar ul li a:hover,
.nav-sidebar ul li.active a {
	color: #0094FF;
	border-color: #0094FF;
}
.nav-sidebar ul li a::before {
	right: 100%;
	margin-right: 8px;
	left: auto;
	display: none;
}
.nav-sidebar ul li.active a::before {
	display: block;
}
.item-sidebar {
	padding: 16px 0;
	border-top: 1px solid #EBEBEB;
}
.item-sidebar__title {
	font-size: 18px;
	padding-bottom: 16px;
	color: #0D336E;
	font-weight: 500;
}
.item-form input {
	height: 44px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Geologica';
	width: 100%;
	color: #5D769D;
	border-radius: 6px;
	border: 1px solid #E3E3E3;
	background: #FFF;
}
.inputs-price .row {
	margin: 0 -3px;
}
.inputs-price .row > div {
	padding: 0 3px;
}
.inputs-price {
	max-width: 310px;
}
.item-radio {
	font-size: 14px;
	margin-bottom: 18px;
	line-height: normal;
	color: #5D769D;
}
.item-radio:last-child {
	margin-bottom: 0;
}
.item-radio label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-radio label > span {
	position: relative;
	padding: 0px 0 0 32px;
	display: block;
	cursor: pointer;
}
.item-radio label > span:after,
.item-radio label > span:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url(../img/radio.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: .2s;
}
.item-radio label > span:after {
	opacity: 0;
	z-index: 2;
	background-image: url(../img/radio_active.svg);
}
.item-radio label input:checked + span:after {
	opacity: 1;
}
.page-personal .col-12 .item-advertisement__bottom,
.page-catalog .col-12 .item-advertisement__bottom {
	width: 193px;
	margin-left: 50px;
}
.page-personal  .col-12 .item-advertisement__bottom::before,
.page-catalog  .col-12 .item-advertisement__bottom::before {
	left: -25px;
}
.page-personal .col-12 .item-advertisement__image,
.page-catalog .col-12 .item-advertisement__image {
	width: 230px;
	height: 233px;
}
.page-catalog {
	padding-bottom: 30px;
}
.sidebar-catalog {
	top: 100px;
	max-height: calc(100vh - 110px);
	overflow: auto;
	position: sticky;
}
.sidebar-catalog::-webkit-scrollbar {
	-webkit-appearance: none;
}
.sidebar-catalog::-webkit-scrollbar:vertical {
	width: 3px;
}
.sidebar-catalog::-webkit-scrollbar:horizontal {
	height: 3px;
}
.sidebar-catalog::-webkit-scrollbar-thumb {
	background-color: #0094FF;
	border-radius: 10px;
}
.sidebar-catalog::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #EBEBEB;
}
.sorting-catalog {
	margin-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-catalog {
	margin-right: 36px;
	flex: 1;
	position: relative;
}
.search-catalog input {
	height: 48px;
	padding: 0 18px;
	padding-right: 35px;
	font-size: 14px;
	font-weight: 300;
	color: #5D769D;
	border-radius: 6px;
	border: 1px solid #EBEBEB;
	background: #FAFAFA;
	width: 100%;
}
.btn-search {
	height: 48px;
	width: 50px;
	border: none;
	background:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	position: absolute;
}
.item-select .jq-selectbox__select-text {
	height: 48px;
	padding: 0 20px;
	font-size: 14px;
	color: #5D769D;
	border-radius: 6px;
	border: 1px solid #EBEBEB;
	background: #FAFAFA;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.sorting-catalog .item-select {
	width: 335px;
}
.item-select .jq-selectbox {
	width: 100%;
}
.item-select .jq-selectbox__dropdown {
	top: 100% !important;
	bottom: auto !important;
	border-radius: 6px;
	border: 1px solid #EBEBEB;
	background: #FAFAFA;
	width: 100%;
}
.item-select .jq-selectbox__dropdown li {
	padding: 10px 20px;
	font-size: 14px;
	color: #5D769D;
	cursor: pointer;
}
.item-select .jq-selectbox__trigger {
	width: 19px;
	height: 19px;
	font-size: 12px;
	right: 12px;
	color: #5D769D;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
}
.item-select .jq-selectbox__trigger:before {
	content: "\f078";
}
.btn-main_filter {
	display: none;
}
.buttons-mobile {
	display: none;
}
.page-personal {
	padding-bottom: 50px;
	background-color: rgba(250, 250, 250, 0.5);
}
.sidebar-personal {
	top: 110px;
	position: sticky;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.sidebar-personal__head {
	padding: 29px 23px;
	border-bottom: 1px solid #EBEBEB;
}
.sidebar-personal__wrap {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.sidebar-personal__image {
	width: 134px;
	height: 134px;
	margin-right: 29px;
	border-radius: 50%;
	flex: none;
}
.sidebar-personal__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.sidebar-personal .rating-wrap__value {
	margin-bottom: 6px;
	margin-right: 0;
}
.sidebar-personal .rating-wrap__reviews {
	margin-top: 10px;
}
.sidebar-personal__title {
	font-size: 18px;
	font-weight: 400;
}
.nav-personal {
	padding: 28px 23px;
}
.nav-personal li {
	margin-bottom: 23px;
}
.nav-personal li:last-child {
	margin-bottom: 0;
}
.nav-personal a {
	color: #0D336E;
}
.nav-personal a:hover,
.nav-personal .active a {
	color: #0094FF;
}
.tabs_main {
	justify-content: flex-start;
}
.tabs_main li {
	margin-right: 54px;
}
.btn-main_right {
	width: 240px;
	padding: 0 10px;
	margin-top: -34px;
	margin-left: auto;
	display: flex;
}
.page-personal .title-section {
	padding-bottom: 25px;
}
.page-payment .tab-pane,
.page-personal .tab-pane {
	display: none;
}
.page-payment .tab-pane:nth-child(1),
.page-personal .tab-pane:nth-child(1) {
	display: block;
}
.btn-main_simple {
	color: #fff;
	background: #5D769D;
}
.btn-main_simple:hover {
	background: #00193f;
}
.item-advertisement__buttons .btn-main img {
	margin-right: 15px;
}
.stats-block {
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 29px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.stats-block__item img {
	margin-bottom: 8px;
}
.btn-more {
	top: 20px;
	right: 17px;
	font-size: 17px;
	color: #5D769D;
	position: absolute;
}
.page-personal .col-12 .item-advertisement__bottom {
	padding: 0 9px;
}
.page-personal .col-12 .item-advertisement__buttons .btn-main {
	font-size: 13px;
}
.filter-messages {
	margin-bottom: 33px;
	display: flex;
	align-items: center;
}
.filter-messages .item-select {
	width: 231px;
	margin-right: 18px;
}
.filter-messages .btn-search,
.filter-messages .search-catalog input,
.filter-messages .item-select .jq-selectbox__select-text {
	height: 40px;
}
.item-checkbox {
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
	display: flex;
	text-align: left;
}
.item-checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-checkbox label > span {
	position: relative;
	padding: 5px 0 0 24px;
	min-height: 24px;
	display: block;
	cursor: pointer;
}
.item-checkbox label > span:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #5D769D;
	border-radius: 3px;
	transition: .2s;
}
.item-checkbox label > span:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #5D769D;
	font-size: 14px;
	opacity: 0;
	transition: .2s;
}
.item-checkbox label input:checked + span:after {
	opacity: 1;
}
.filter-messages .item-checkbox {
	margin-right: 5px;
}
.chat-main {
	padding: 0 20px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.item-chat {
	padding: 25px 0px;
	padding-right: 70px;
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #EBEBEB;
	display: flex;
	position: relative;
}
.item-chat:last-child {
	border: none;
}
.item-chat__image {
	width: 73px;
	height: 73px;
	margin-right: 30px;
	border-radius: 50%;
	flex: none;
	display: block;
}
.item-chat__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.item-chat__name {
	font-size: 16px;
	margin-bottom: 8px;
	font-weight: 600;
	color: #0D336E;
	display: block;
	font-family: 'Raleway';
}
.item-chat__date {
	margin-top: 3px;
	color: #5D769D;
	margin-left: auto;
}
.item-chat__content {
	flex: 1;
}
.item-chat__descr {
	margin-bottom: 5px;
	font-weight: 500;
}
.item-chat .btn-more {
	top: 20px;
	right: 0;
}
.read-status {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	top: -2px;
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
}
.read-status.yes {
	background-image: url(../img/read_yes.svg);
}
.read-status.no {
	background-image: url(../img/read_no.svg);
}
.online-status {
	width: 8px;
	height: 8px;
	top: -1px;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	border-radius: 50%;
}
.online-status.yes {
	background-color: #0FBB00;
}
.online-status.no {
	background-color: #5D769D;
}
.numbers-read {
	font-size: 13px;
	width: 20px;
	margin-left: 10px;
	height: 20px;
	border-radius: 50%;
	background-color: #0094FF;
	font-weight: 500;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}
.filter-messages .search-catalog {
	max-width: 317px;
	margin-right: 0;
}
.btn-back {
	width: 20px;
	height: 20px;
	margin-right: 26px;
	background-image: url(../img/back.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	flex: none;
	align-self: center;
}
.item-message__text {
	padding: 10px 18px;
	color: #000;
	display: inline-flex;
	align-items: flex-end;
	border-radius: 10px 0px 10px 10px;
	background: #EBF6FF;
}
.time-message {
	margin-left: 15px;
	font-size: 13px;
	top: 2px;
	position: relative;
	color: #5D769D;
}
.item-message {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}
.chat-wrapper {
	padding: 38px 70px;
	padding-bottom: 63px;
}
.item-message .read-status {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}
.item-message_second {
	justify-content: flex-start;
}
.item-message_second .item-message__text {
	border-radius: 0px 10px 10px 10px;
	background: #EBEBEB;
}
.item-message__image {
	width: 46px;
	height: 46px;
	margin-right: 12px;
	border-radius: 50%;
	flex: none;
}
.item-message__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.btn-main_addmessage {
	height: 46px;
	padding-right: 33px;
	margin-top: 34px;
}
.btn-main_addmessage img {
	margin-right: 15px;
}
.btn-main_addmessage i {
	font-size: 20px;
	margin-right: 15px;
}
.wallet-block {
	padding: 26px 20px;
	padding-bottom: 32px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.wallet-block__head {
	margin-bottom: 26px;
	border-bottom: 1px solid #EBEBEB;
}
.wallet-block__line {
	max-width: 438px;
}
.wallet-prices__title {
	font-size: 14px;
	margin-bottom: 12px;
	line-height: normal;
	font-weight: 400;
}
.wallet-prices__value {
	font-size: 36px;
	font-weight: 500;
	line-height: normal;
}
.wallet-prices {
	padding-bottom: 26px;
	display: flex;
	justify-content: space-between;
}
.wallet-prices__item:last-child {
	text-align: right;
}
.wallet-block__title {
	padding-bottom: 15px;
}
.item-form {
	position: relative;
}
.item-form__subdescr {
	height: 100%;
	top: 0;
	right: 24px;
	display: flex;
	align-items: center;
	position: absolute;
	pointer-events: none;
}
.item-form_big input {
	height: 52px;
	font-size: 16px;
	padding: 0 20px;
	color: #0D336E;
}
.wallet-block .item-form_big {
	margin-bottom: 40px;
}
.payment-block .tabs,
.wallet-block .tabs {
	font-size: 14px;
	margin-bottom: 16px;
	padding-top: 7px;
}
.tab-container_wallet {
	padding: 22px 28px;
	padding-bottom: 13px;
	border-radius: 15px;
	background: #F2F9FF;
}
.item-form__title {
	font-size: 14px;
	padding-bottom: 9px;
	color: #5D769D;
	line-height: normal;
}
.line-inputs {
	display: flex;
	justify-content: space-between;
}
.line-inputs .item-form {
	max-width: 86px;
}
.tab-container_wallet .item-form {
	margin-bottom: 18px;
}
.wallet-block .btn-main {
	width: 262px;
	height: 44px;
	margin-top: 30px;
	padding: 0;
}
.card-master {
	padding: 29px 0;
	padding-left: 29px;
	margin-bottom: 49px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.card-master p {
	margin-bottom: 20px;
}
.card-master p:last-child {
	margin-bottom: 0;
}
.card-master__image {
	width: 187px;
	height: 187px;
	border-radius: 50%;
}
.card-master__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.card-master__title {
	font-size: 24px;
	margin-bottom: 17px;
	font-weight: 400;
	line-height: 140%;
}
.page-card-master .title-section {
	padding-bottom: 26px;
}
.slick-arrow {
	width: 24px;
	height: 24px;
	font-size: 15px;
	color: #0D336E !important;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
}
.item-service {
	font-size: 14px;
	line-height: 140%;
	color: #0D336E;
	display: block;
}
.item-service__image {
	height: 187px;
	margin-bottom: 12px;
	border-radius: 5px;
	display: flex;
	width: 100%;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 5px;
}
.item-service__title {
	margin-bottom: 9px;
	display: block;
	width: 100%;
}
.slider-portfolio .slick-slide,
.slider-services .slick-slide {
	padding: 0 17px;
}
.slider-portfolio,
.slider-services {
	margin: 0 -17px;
}
.slider-portfolio .slick-prev,
.slider-services .slick-prev {
	left: -15px;
}
.slider-portfolio .slick-next,
.slider-services .slick-next {
	right: -15px;
}
.slider-services .slick-arrow {
	top: 100px;
}
.item-service__price {
	display: block;
	width: 100%;
	font-weight: 600;
}
.slider-services {
	margin-bottom: 40px;
}
.item-portfolio {
	display: block;
	color: #0D336E;
	width: 100%;
}
.item-portfolio__image {
	height: 296px;
	margin-bottom: 12px;
	border-radius: 5px;
	display: block;
	width: 100%;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 5px;
}
.item-portfolio__title {
	display: block;
	width: 100%;
}
.page-card-master {
	padding-bottom: 38px;
	background-color: rgba(250, 250, 250, 0.5);
}
.reviews {
	padding-top: 12px;
	padding-bottom: 40px;
}
.rating-main .rating-wrap__value {
	font-size: 30px;
}
.rating-main .rating__item {
	font-size: 24px;
}
.reviews .title-section {
	padding-bottom: 30px;
}
.row_reviews > div {
	margin-bottom: 30px;
}
.item-review {
	font-size: 14px;
	padding: 24px 29px;
	padding-bottom: 38px;
	padding-left: 86px;
	line-height: 140%;
	min-height: 100%;
	border-radius: 15px;
	background: #FFF;
	position: relative;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.item-review__head {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
}
.item-review__title {
	font-size: 18px;
	margin-bottom: 9px;
	line-height: 140%;
	font-weight: 600;
	font-family: 'Raleway';
}
.item-review__image {
	width: 40px;
	height: 40px;
	top: 24px;
	left: 22px;
	border-radius: 6px;
	border: 1px solid #D9D9D9;
	background: #FFF;
	position: absolute;
}
.item-review__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-review__date {
	color: #5D769D;
}
.rating-main {
	margin-bottom: 34px;
}
.btn-nav {
	display: none;
}
.modal-block {
	display: none;
}
.modal-wrap {
	width: 369px;
	padding: 32px;
	padding-top: 25px;
	margin-left: auto;
	max-width: 100%;
	border-radius: 15px;
	background: #F2F9FF;
	color: #0D336E;
}
.title-modal {
	font-size: 24px;
	padding-bottom: 22px;	
	font-weight: 600;
	font-family: 'Raleway';
	line-height: normal;
	text-align: center;
}
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.fancybox-close {
	top: 4px;
	right: 4px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	font-size: 20px;
	color: #5D769D;
	background-image: none !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 100;
	font-family: "Font Awesome 5 Pro";
}
.fancybox-close::before {
	content: "\f00d";
}
.fancybox-inner {
	overflow: visible !important;
}
.modal-wrap .item-form {
	margin-bottom: 17px;
}
.checkbox {
	font-size: 13px;
	color: #5D769D;
	line-height: normal;
	font-weight: 400;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 2px 0 0 30px;
	display: block;
	cursor: pointer;
	font-weight: 300;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	background: #FFF;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 0px;
	width: 20px;
	height: 20px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #5D769D;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.line-checkbox {
	padding-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-simple {
	font-size: 13px;
	color: #0094FF;
	border-bottom: 1px solid transparent;
}
.link-simple:hover {
	border-color: #0094FF;
}
.modal-wrap .btn-main {
	height: 44px;
	margin-top: 10px;
	width: 100%;
	padding: 0;
}
.modal-wrap .item-form input {
	height: 50px;
}
.bottom-login {
	padding-top: 20px;
	text-align: center;
}
.title-small {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Raleway';
	line-height: normal;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social a {
	font-size: 18px;
	color: #5D769D;
}
.list-social a:hover {
	color: #0D336E;
}
.list-social li {
	padding: 0 12px;
}
.link-page {
	color: #0094FF;
	border-bottom: 1px solid #0094FF;
	display: inline-block;
}
.link-page:hover {
	border-color: transparent;
}
.modal-wrap .list-social {
	padding-bottom: 18px;
	justify-content: center;
}
.bottom-login .title-small {
	padding-bottom: 15px;
}
.step-register {
	display: none;
}
.step-register:first-child {
	display: block;
}
.genders-wrap {
	display: flex;
	align-items: center;
}
.genders-wrap .checkbox {
	margin-right: 24px;
}
.genders-wrap .checkbox:last-child {
	margin-right: 0;
}
.page-basket {
	min-height: 70vh;
	padding-bottom: 38px;
	background-color: rgba(250, 250, 250, 0.5);
}
.select-all {
	margin-bottom: 34px;
	color: #5D769D;
	display: inline-flex;
	align-items: center;
}
.select-all i {
	margin-right: 11px;
}
.page-basket .title-section {
	padding-bottom: 30px;
}
.item-basket {
	padding: 17px;
	display: flex;
	border-radius: 15px;
	background: #FFF;
	flex: 1;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.item-basket__image {
	width: 128px;
	height: 130px;
	margin-right: 35px;
	border-radius: 5px;
	display: block;
}
.item-basket__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-basket__content {
	max-width: 494px;
}
.item-basket__title {
	font-size: 20px;
	margin-top: 7px;
	max-width: 274px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 140%;
	font-family: 'Raleway';
	color: #0D336E;
	display: block;
}
.item-basket__text {
	font-size: 13px;
	line-height: 140%;
	line-height: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-basket__right {
	padding: 5px;
	margin-left: auto;
	text-align: right;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;	
}
.item-basket .price-main {
	font-size: 15px;
}
.btn-delate {
	font-size: 22px;
	color: #5D769D;
}
.btn-delate:hover {
	color: #0D336E;
}
.line-basket {
	margin-bottom: 30px;
	display: flex;
}
.line-basket .item-checkbox {
	margin-right: 60px;
}
.line-basket .item-checkbox label > span:before {
	background-color: #fff;
}
.sidebar-basket__content {
	padding: 25px 35px;
	padding-bottom: 20px;
	margin-bottom: 19px;
	border-radius: 15px;
	background: #F2F9FF;
}
.sidebar-basket__content .btn-main {
	height: 44px;
	width: 100%;
	padding: 0;
}
.sidebar-basket__head {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sidebar-basket__descr {
	font-size: 12px;
	padding-bottom: 22px;
	max-width: 262px;
	color: #5D769D;
	line-height: normal;
}
.sidebar-basket__bottom {
	padding-top: 25px;
	line-height: normal;
	border-top: 1px solid #EBEBEB;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
}
.sidebar-basket__title {
	font-weight: 500;
}
.sidebar-basket__value {
	font-size: 14px;
}
.sidebar-basket {
	top: 110px;
	position: sticky;
}
.item-basket__right .price-main {
	white-space: nowrap;
}
.payment-block {
	padding: 36px;
	padding-right: 87px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.page-payment {
	padding-bottom: 63px;
	min-height: 70vh;
	background-color: rgba(250, 250, 250, 0.5);
}
.page-payment .title-section {
	padding-bottom: 38px;
}
.payment-block .sidebar-basket {
	margin-top: 10px;
	margin-left: 60px;
}
.sidebar-basket__descr a {
	color: #0094FF;
	border-bottom: 1px solid transparent;
}
.sidebar-basket__descr a:hover {
	border-color: #0094FF;
}
.page-payment .sidebar-basket__descr {
	max-width: 323px;
}
.rating-block {
	padding: 28px 35px;
	margin-bottom: 26px;
	border-radius: 15px;
	background: #FFF;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.rating-block .rating-wrap {
	margin-bottom: 20px;
}
.line-rating {
	margin-bottom: 3px;
	display: flex;
	align-items: center;
}
.bar-rating {
	width: 310px;
	height: 3px;
	max-width: 100%;
	background: #D9D9D9;
	position: relative;
}
.bar-rating__value {
	top: 0;
	left: 0;
	height: 100%;
	background: #0094FF;
	position: absolute;
}
.line-rating .rating {
	margin-right: 34px;
}
.rating-block .rating-main {
	margin-bottom: 17px;
}
#map-catalog {
	height: 523px;
	width: 100%;
	background-color: #ddd;
}
#map-catalog .ymaps-2-1-79-image-with-content {
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
#map-catalog .ymaps-2-1-79-image-with-content-content {
	font-size: 9px !important;
	width: 14px !important;
	height: 14px !important;
	font-weight: 400 !important;
	font-family: 'Geologica' !important;
	color: #fff;
	padding-top: 1px;
}
.item-map {
	font-size: 12px;
	min-width: 275px;
	line-height: 140%;
	font-weight: 400;
	justify-content: space-between;
	color: #0D336E;
	display: flex;
	font-family: 'Geologica';
}
.item-map p {
	margin-bottom: 9px;
}
.item-map__image {
	width: 109px;
	height: 74px;
	margin-left: 15px;
	border-radius: 5px;
}
.item-map__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
#map-catalog .ymaps-2-1-79-balloon__close-button {
	width: 10px;
	height: 10px;
	top: 4px;
	right: 4px;
	position: relative;
	background-size: cover;
}
#map-catalog .ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
	margin-right: 15px !important;
}
.page-recap {
	padding-top: 40px;
	padding-bottom: 70px;
		background-color: rgba(250, 250, 250, 0.5);
}
.recap-block {
	padding: 53px 210px;
	padding-bottom: 58px;
	max-width: 1194px;
	border-radius: 20px;
	text-align: center;
background: #FFF;
margin: 0 auto;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.recap-block__title {
	font-size: 64px;
	line-height: 140%;
	font-weight: 700;
}
.recap-block__descr {
	font-size: 36px;
	padding-bottom: 13px;
font-weight: 600;
line-height: 140%;
font-family: 'Raleway';
}
.recap-block__text {
	font-size: 18px;
	min-height: 58px;
	padding-bottom: 24px;
	max-width: 626px;
	margin: 0 auto;
	line-height: 160%;
}
.unit-recap {
	padding: 26px 70px;
	padding-right: 20px;
	border-radius: 10px;
border: 1px solid #0094FF;
min-height: 100%;
	text-align: left;
}
.unit-recap__title {
	font-size: 21px;
	margin-bottom: 13px;
	font-weight: 500;
	font-family: 'Raleway';
	line-height: normal;
}
.unit-recap ul li {
margin-bottom: 15px;
padding-left: 15px;
position: relative;
color: #0094FF;
}
.unit-recap ul li:last-child {
	margin-bottom: 0;
}
.unit-recap ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.unit-recap ul li a {
	color: #0094FF;
	border-bottom: 1px solid transparent;
}
.unit-recap ul li a:hover {
	border-color: #0094FF;
}
.recap-block__bottom {
	padding-top: 42px;
}
.recap-block__bottom .btn-main {
	width: 300px;
	height: 44px;
	padding: 0;
}