/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	.row {
		margin: 0 -10px;
	}
	.row > div {
		padding: 0 10px;
	}
	body {
		font-size: 14px;
	}
	.text-page p {
		margin-bottom: 20px;
	}
	.text-page {
		font-size: 16px;
	}
	.section-welcome .text-page {
		max-width: 665px;
	}
	.title-middle {
		font-size: 22px;
	}
	.section-welcome .title-middle {
		margin-bottom: 20px;
	}
	.section-welcome {
		padding-top: 34px;
		padding-bottom: 42px;
		background-size: auto 100%;
	}
	.logo img {
		width: 130px;
		height: auto;
	}
	.menu li {
		margin-left: 40px;
	}
	.header {
		padding: 22px 0;
	}
	.billbord {
		padding-top: 145px;
		padding-bottom: 55px;
	}
	.descr-billbord {
		font-size: 17px;
		padding-bottom: 14px;
	}
	.title-big {
		font-size: 49px;
	}
	.slider-billbord {
		max-width: 720px;
		margin-bottom: 55px;
	}
	.btn-main.btn-main_catalog {
		height: 55px;
		padding: 0 30px;
		padding-right: 45px;
		font-size: 16px;
		margin-right: 27px;
		border-radius: 10px;
	}
	.form-search input {
		height: 55px;
		padding: 0 20px;
		font-size: 15px;
	}
	.form-search .btn-main {
		height: 55px;
		width: 185px;
		font-size: 16px;
	}
	.btn-main.btn-main_catalog img {
		margin-right: 18px;
	}
	.form-search .btn-main img {
		margin-right: 15px;
	}
	.line-search {
		margin-bottom: 23px;
	}
	.services-block {
		padding: 30px;
	}
	.title-section {
		font-size: 26px;
	}
	.unit-service::before {
		margin-left: -40px;
		font-size: 18px;
	}
	.services-block .title-section {
		margin-bottom: 27px;
	}
	.descr-section {
		font-size: 16px;
	}
	.unit-service {
		padding-left: 72px;
		padding-top: 13px;
		margin-left: 25px;
	}
	.unit-service__title {
		font-size: 19px;
		margin-bottom: 16px;
	}
	.unit-service li {
		margin-bottom: 15px;
	}
	.advertisements .title-section {
		padding-bottom: 25px;
	}
	.item-advertisement__title {
		font-size: 18px;
	}
	.item-advertisement {
		padding: 10px;
		padding-bottom: 15px;
	}
	.item-advertisement__buttons {
		margin: 0 -3px;
		padding-top: 15px;
	}
	.item-advertisement__date {
		font-size: 11px;
		padding-bottom: 18px;
		margin-bottom: 12px;
	}
	.item-advertisement__buttons .btn-main {
		font-size: 13px;
		margin: 0 3px;
		padding: 0;
	}
	.price-main {
		font-size: 19px;
	}
	.price-main span {
		font-size: 15px;
		margin-left: 5px;
	}
	.item-advertisement__image {
		height: 155px;
		margin-bottom: 13px;
	}
	.col-lg-6 .item-advertisement__image {
		left: 12px;
		width: 210px;
		height: 220px;
		top: 12px;
	}
	.col-lg-6 .item-advertisement {
		padding: 12px;
		padding-left: 240px;
		min-height: 240px;
	}
	.col-lg-6 .btn-like {
		left: 192px;
	}
	.col-lg-6 .item-advertisement__title {
		padding-right: 0;
		margin-bottom: 7px;
	}
	.col-lg-6 .item-advertisement__date {
		margin-bottom: 8px;
	}
	.col-12 .item-advertisement__image {
		width: 290px;
		height: 180px;
		margin-right: 20px;
	}
	.col-12 .item-advertisement__title {
		font-size: 20px;
	}
	.bottom-button {
		padding-top: 15px;
	}
	.advertisements {
		padding-bottom: 45px;
	}
	.footer {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.footer__nav li {
		margin-bottom: 19px;
	}
	.footer__title {
		margin-bottom: 14px;
	}
	.header__right .btn-main {
		margin-left: 23px;
	}
	.btn-header {
		margin-left: 17px;
	}
	.row_advertisements > div {
		margin-bottom: 20px;
	}
	.col-12 .item-advertisement__bottom {
		width: 210px;
		margin-left: 50px;
		padding-top: 0;
		padding-bottom: 4px;
	}
	.col-12 .item-advertisement__bottom::before {
		left: -29px;
	}
	.col-12 .btn-like {
		top: 21px;
		right: 24px;
	}
	.slider-for__item {
		height: 255px;
	}
	.slider-nav__item {
		height: 75px;
		margin-bottom: 13px;
	}
	.tabs {
		font-size: 17px;
	}
	.page-card .tabs {
		margin-top: 10px;
	}
	.tab-container {
		padding-top: 20px;
	}
	#map {
		height: 310px;
	}
	.wrapper_page .header {
		padding: 16px 0;
	}
	.wrapper_page {
		padding-top: 75px;
	}
	.breadcrumbs {
		font-size: 13px;
		padding-bottom: 17px;
	}
	.page-card__top {
		padding-bottom: 30px;
	}
	.card-info {
		padding: 18px;
		top: 91px;
	}
	.feature {
		font-size: 13px;
		margin-bottom: 7px;
	}
	.feature__title {
		width: 39%;
	}
	.prices-line {
		margin-bottom: 30px;
	}
	.price-descr {
		margin-left: 25px;
	}
	.card-info .price-main {
		font-size: 24px;
	}
	.card-info__bottom .btn-main {
		height: 45px;
		margin: 0 5px;
		font-size: 13px;
		padding: 0 10px;
	}
	.card-info__bottom {
		margin: 0 -5px;
		padding-top: 30px;
	}
	.btn-main_favorite i {
		font-size: 16px;
		margin-right: 10px;
	}
	.unit-person__image {
		width: 42px;
		height: 42px;
		margin-right: 10px;
	}
	.rating__item {
		font-size: 15px;
	}
	.card-info__buttons .btn-main {
		height: 40px;
		margin-top: 10px;
	}
	.unit-person__name {
		margin-bottom: 6px;
	}
	.rating-wrap {
		margin-bottom: 2px;
	}
	.page-card .title-section {
		padding-bottom: 25px;
	}
	.page-personal .col-12 .item-advertisement__image,
	.page-catalog .col-12 .item-advertisement__image {
		width: 205px;
		height: 213px;
	}
	.page-personal .col-12 .item-advertisement__bottom,
	.page-catalog .col-12 .item-advertisement__bottom {
		width: 175px;
		margin-left: 33px;
	}
	.page-personal .col-12 .item-advertisement__bottom::before,
	.page-catalog .col-12 .item-advertisement__bottom::before {
		left: -18px;
	}
	.sidebar-catalog__head {
		padding: 15px 8px;
		font-size: 16px;
	}
	.unit-sidebar__head {
		font-size: 16px;
		padding: 10px 33px;
		padding-right: 10px;
	}
	.unit-sidebar__head::before {
		left: 10px;
	}
	.unit-sidebar__content {
		padding: 10px;
	}
	.nav-sidebar > li {
		margin-bottom: 22px;
	}
	.nav-sidebar__haschild > a::before {
		margin-right: 8px;
	}
	.nav-sidebar ul {
		padding: 0px 36px;
		padding-top: 14px;
	}
	.nav-sidebar ul li {
		margin-bottom: 15px;
	}
	.inputs-price {
		max-width: 250px;
	}
	.item-sidebar__title {
		font-size: 16px;
		padding-bottom: 14px;
	}
	.item-sidebar {
		padding: 14px 0;
	}
	.item-radio {
		font-size: 13px;
		margin-bottom: 14px;
	}
	.search-catalog {
		margin-right: 24px;
	}
	.jq-selectbox__dropdown li,
	.item-select .jq-selectbox__select-text,
	.search-catalog input {
		font-size: 13px;
	}
	.sorting-catalog .item-select {
		width: 285px;
	}
	.page-catalog .title-section {
		padding-bottom: 23px;
	}
	.sidebar-personal {
		top: 100px;
	}
	.sidebar-personal__head {
		padding: 23px 15px;
	}
	.sidebar-personal__image {
		width: 120px;
		height: 120px;
		margin-right: 18px;
	}
	.sidebar-personal__wrap {
		margin-bottom: 20px;
	}
	.sidebar-personal__title {
		font-size: 16px;
	}
	.nav-personal {
		padding: 21px 15px;
	}
	.nav-personal li {
		margin-bottom: 15px;
	}
	.page-personal .col-12 .item-advertisement__bottom {
		padding: 0;
	}
	.btn-more {
		top: 14px;
		right: 13px;
		font-size: 15px;
	}
	.stats-block {
		font-size: 13px;
		padding-bottom: 3px;
		padding-top: 23px;
	}
	.stats-block__item img {
		margin-bottom: 4px;
	}
	.tabs_main li {
		margin-right: 45px;
	}
	.filter-messages .item-select {
		width: 210px;
		margin-right: 13px;
	}
	.filter-messages .search-catalog {
		max-width: 270px;
	}
	.filter-messages {
		margin-bottom: 25px;
	}
	.chat-main {
		padding: 0 15px;
	}
	.item-chat {
		padding: 20px 0px;
		padding-right: 55px;
		font-size: 12px;
	}
	.item-chat__image {
		width: 65px;
		height: 65px;
		margin-right: 20px;
	}
	.item-chat__name {
		font-size: 14px;
		margin-bottom: 6px;
	}
	.item-chat__descr {
		margin-bottom: 3px;
	}
	.btn-back {
		margin-right: 20px;
	}
	.chat-wrapper {
		padding: 32px 45px;
		padding-bottom: 38px;
	}
	.item-message {
		margin-bottom: 17px;
	}
	.time-message {
		margin-left: 12px;
		font-size: 12px;
		top: 2px;
	}
	.item-message .read-status {
		width: 18px;
		height: 18px;
		margin-left: 5px;
	}
	.item-message__text {
		padding: 8px 15px;
	}
	.wallet-block {
		padding: 23px 15px;
		padding-bottom: 30px;
	}
	.wallet-block__line {
		max-width: 390px;
	}
	.wallet-prices__value {
		font-size: 28px;
	}
	.wallet-prices__title {
		font-size: 13px;
		margin-bottom: 7px;
	}
	.wallet-prices {
		padding-bottom: 18px;
	}
	.wallet-block__head {
		margin-bottom: 18px;
	}
	.wallet-block__title {
		padding-bottom: 12px;
	}
	.wallet-block .tabs {
		font-size: 13px;
		margin-bottom: 13px;
		padding-top: 3px;
	}
	.tab-container_wallet {
		padding: 19px 22px;
	}
	.wallet-block .btn-main {
		width: 235px;
		height: 40px;
		margin-top: 24px;
	}
	.wallet-block .item-form_big {
		margin-bottom: 30px;
	}
	.card-master {
		padding: 20px 0;
		padding-left: 18px;
		margin-bottom: 37px;
	}
	.card-master__image {
		width: 167px;
		height: 167px;
	}
	.card-master__title {
		font-size: 20px;
		margin-bottom: 13px;
	}
	.card-master p {
		margin-bottom: 15px;
	}
	.page-card-master .title-section {
		padding-bottom: 22px;
	}
	.item-service {
		font-size: 12px;
	}
	.slider-portfolio .slick-slide, .slider-services .slick-slide {
		padding: 0 10px;
	}
	.slider-portfolio, .slider-services {
		margin: 0 -10px;
	}
	.slider-services {
		margin-bottom: 30px;
	}
	.item-service__title {
		margin-bottom: 6px;
	}
	.item-service__image {
		height: 160px;
		margin-bottom: 9px;
	}
	.slider-services .slick-arrow {
		top: 86px;
	}
	.slider-portfolio .slick-prev, .slider-services .slick-prev {
		left: -20px;
	}
	.slider-portfolio .slick-next, .slider-services .slick-next {
		right: -20px;
	}
	.item-portfolio__image {
		height: 250px;
		margin-bottom: 10px;
	}
	.rating-main .rating__item {
		font-size: 20px;
	}
	.rating-main .rating-wrap__value {
		font-size: 24px;
	}
	.item-review {
		font-size: 13px;
		padding: 19px 25px;
		padding-bottom: 31px;
		padding-left: 70px;
	}
	.item-review__title {
		font-size: 16px;
		margin-bottom: 7px;
	}
	.item-review__image {
		width: 36px;
		height: 36px;
		top: 20px;
		left: 16px;
	}
	.row_reviews > div {
		margin-bottom: 20px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu li {
		margin-left: 31px;
	}
	.header__right .btn-main {
		margin-left: 16px;
	}
	.btn-header {
		margin-left: 13px;
	}
	.logo img {
		width: 120px;
	}
	.title-big {
		font-size: 43px;
	}
	.slider-billbord {
		max-width: 635px;
		margin-bottom: 42px;
	}
	.descr-billbord {
		font-size: 15px;
		padding-bottom: 13px;
	}
	.billbord {
		padding-top: 135px;
		padding-bottom: 45px;
	}
	.unit-service__icon img {
		max-width: 40px;
	}
	.unit-service {
		padding-left: 53px;
		padding-top: 10px;
		margin-left: 15px;
	}
	.unit-service::before {
		margin-left: -27px;
		font-size: 15px;
	}
	.unit-service__title {
		font-size: 17px;
		margin-bottom: 12px;
	}
	.services-block .title-section {
		margin-bottom: 20px;
		max-width: 260px;
	}
	.title-section {
		font-size: 22px;
	}
	.services-block {
		padding: 20px;
	}
	.descr-section {
		font-size: 14px;
	}
	.row {
		margin: 0 -5px;
	}
	.row > div {
		padding: 0 5px;
	}
	.row_advertisements > div {
		margin-bottom: 10px;
	}
	.item-advertisement__title {
		font-size: 16px;
	}
	.item-advertisement__buttons .btn-main {
		font-size: 12px;
		height: 37px;
	}
	.col-lg-6 .item-advertisement__image {
		width: 190px;
	}
	.col-lg-6 .item-advertisement {
		padding-left: 213px;
	}
	.col-lg-6 .btn-like {
		left: 174px;
	}
	.col-12 .item-advertisement__bottom {
		width: 175px;
		margin-left: 38px;
	}
	.col-12 .item-advertisement {
		padding: 12px;
	}
	.col-12 .item-advertisement__bottom::before {
		top: -12px;
		bottom: -12px;
		left: -20px;
	}
	.col-12 .item-advertisement__title {
		font-size: 18px;
		padding-right: 0;
	}
	.col-12 .btn-like {
		top: 20px;
		right: 16px;
	}
	.services {
		padding: 35px 0;
	}
	.tabs {
		font-size: 15px;
	}
	.slider-for__item {
		height: 220px;
	}
	.slider-nav__item {
		height: 66px;
		margin-bottom: 9px;
	}
	.card-info {
		padding: 15px;
		top: 89px;
	}
	.card-info .price-main {
		font-size: 20px;
	}
	.price-descr {
		margin-left: 17px;
	}
	.feature {
		font-size: 11px;
		margin-bottom: 6px;
	}
	.card-info__buttons .btn-main {
		font-size: 13px;
		padding: 0 10px;
	}
	.card-info__bottom .btn-main {
		font-size: 10px;
		height: 40px;
	}
	.sorting-catalog .item-select {
		width: 250px;
	}
	.sidebar-catalog__head {
		padding: 11px 8px;
		font-size: 14px;
	}
	.unit-sidebar__head {
		font-size: 14px;
		padding: 10px 31px;
		padding-right: 10px;
	}
	.nav-sidebar > li {
		margin-bottom: 16px;
	}
	.nav-sidebar ul li {
		margin-bottom: 10px;
	}
	.sorting-catalog {
		margin-bottom: 25px;
	}
	.page-personal .col-12 .item-advertisement__bottom,
	.page-catalog .col-12 .item-advertisement__bottom {
		width: 155px;
		margin-left: 30px;
	}
	.inputs-price {
		max-width: 207px;
	}
	.inputs-price .item-form input {
		font-size: 13px;
		padding: 0 10px;
	}
	.sidebar-catalog {
		top: 90px;
		max-height: calc(100vh - 100px);
	}
	.sidebar-personal__image {
		width: 95px;
		height: 95px;
		margin-right: 10px;
	}
	.sidebar-personal .rating-wrap__reviews {
		margin-top: 4px;
	}
	.sidebar-personal__title {
		font-size: 15px;
	}
	.sidebar-personal__head {
		padding: 10px 15px;
	}
	.nav-personal li {
		margin-bottom: 10px;
	}
	.wrapper_page {
		padding-top: 73px;
	}
	.item-chat {
		padding-right: 30px;
	}
	.chat-wrapper {
		padding: 20px 0;
	}
	.card-master__image {
		width: 138px;
		height: 138px;
	}
	.card-master__title {
		font-size: 17px;
		margin-bottom: 11px;
	}
	.item-portfolio__image {
		height: 205px;
	}
	.reviews .title-section {
		padding-bottom: 23px;
	}
	.rating-main {
		margin-bottom: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu {
		display: none;
	}
	.title-big {
		font-size: 38px;
	}
	.slider-billbord {
		max-width: 555px;
	}
	.form-search .btn-main {
		width: 150px;
		font-size: 14px;
		height: 50px;
	}
	.form-search input {
		font-size: 14px;
		height: 50px;
	}
	.btn-main.btn-main_catalog {
		height: 50px;
		padding: 0px 22px;
		padding-right: 32px;
		font-size: 14px;
		margin-right: 18px;
	}
	.list-tags li {
		margin-right: 7px;
	}
	.list-tags {
		justify-content: flex-start;
	}
	.billbord {
		padding-bottom: 30px;
	}
	.unit-service::before {
		display: none;
	}
	.services-block .descr-section {
		max-width: 315px;
		margin-bottom: 20px;
	}
	.footer__nav_main {
		margin-left: 0;
	}
	.footer__nav li {
		margin-bottom: 13px;
	}
	.footer .logo {
		display: inline-block;
		margin-bottom: 15px;
	}
	.footer__contacts {
		align-items: flex-start;
	}
	.col-12 .item-advertisement {
		padding-left: 213px;
		flex-direction: column;
		align-items: flex-start;
	}
	.col-12 .item-advertisement__image {
		top: 12px;
		left: 12px;
		width: 190px;
		height: 220px;
		position: absolute;
	}
	.advertisements {
		padding-top: 0;
	}
	.unit-service {
		margin-left: 0;
	}
	.col-12 .item-advertisement__bottom {
		margin-left: 0;
	}
	.col-12 .item-advertisement__bottom::before {
		display: none;
	}
	.col-12 .item-advertisement__bottom {
		width: 100%;
	}
	.col-12 .item-advertisement__buttons {
		display: flex;
	}
	.col-12 .item-advertisement__buttons .btn-main {
		margin: 0 3px;
	}
	.col-12 .item-advertisement__more {
		padding-top: 5px;
	}
	.col-12 .price-main span {
		display: inline;
		margin: 0;
		margin-left: 5px;
	}
	.item-advertisement__date {
		padding-bottom: 12px;
	}
	.col-12 .btn-like {
		left: 174px;
		top: 21px;
	}
	.header__wrapper .btn-header,
	.header__wrapper .location-main {
		display: none;
	}
	.header__right .btn-main {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	.header__right .btn-main img {
		margin: 0;
	}
	.sandwich {
		display: flex;
	}
	.header {
		padding: 10px 0;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		max-height: 100vh;
		padding: 15px 15px;
		overflow: auto;
		background-color: #FCFCFC;
		position: absolute;
		display: none;
	}
	.menu a {
		margin: 0;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #807F7D;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}
	.menu li {
		margin: 0;
	}
	.menu-mobile .btn-header {
		margin-top: 18px;
		margin-left: auto;
		margin-top: 15px;
	}
	.menu-overlay {
		top: 65px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		z-index: -1;
	}
	.wrapper:not(.wrapper_page) .header:not(.fixed) .menu-overlay {
		display: none !important;
	}
	.slider-for__item {
		height: 310px;
	}
	.slider-nav__item {
		height: 94px;
		margin-bottom: 12px;
	}
	.feature {
		font-size: 14px;
		margin-bottom: 9px;
	}
	.prices-line {
		margin-bottom: 16px;
	}
	.card-info__bottom .btn-main {
		font-size: 14px;
	}
	.card-info .card-info_right {
		padding-top: 22px;
	}
	.card-info_right::before {
		display: none;
	}
	.card-info__bottom {
		padding-top: 17px;
	}
	.card-info {
		top: 0;
		margin-top: 20px;
	}
	.wrapper {
		overflow: hidden;
	}
	.page-card__top + .title-section {
		padding-bottom: 18px;
	}
	.sidebar-catalog {
		top: 0px;
		max-height: initial;
		overflow: initial;
	}
	.sidebar-catalog {
		display: none;
	}
	.page-personal .col-12 .item-advertisement__bottom,
	.page-catalog .col-12 .item-advertisement__bottom {
		width: 100%;
		margin: 0;
	}
	.page-personal .col-12 .item-advertisement__image,
	.page-catalog .col-12 .item-advertisement__image {
		width: 190px;
		height: 220px;
	}
	.btn-main_filter {
		padding: 0 20px;
		height: 50px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}
	.inputs-price {
		max-width: 245px;
	}
	.buttons-mobile {
		padding: 0 10px;
		bottom: 0;
		left: 0;
		background-color: #fff;
		width: 100%;
		position: fixed;
		z-index: 500;
		display: flex;
		align-items: center;
		background: #FAFAFA;
		justify-content: space-between;
	}
	.buttons-mobile .btn-header {
		height: 50px;
		margin: 0;
		background: transparent;
	}
	.wrapper_page .header {
		padding: 10px 0;
	}
	.wrapper_page {
		padding-top: 60px;
	}
	.buttons-mobile .btn-header__hint {
		display: none;
	}
	.footer {
		padding-top: 30px;
		padding-bottom: 70px;
	}
	.card-info__buttons {
		padding-top: 20px;
	}
	.col-12 .item-advertisement__title {
		font-size: 16px;
	}
	.sidebar-personal {
		margin-bottom: 20px;
	}
	.stats-block {
		font-size: 12px;
		padding-bottom: 0px;
		padding-top: 15px;
	}
	.stats-block__item img {
		max-width: 20px;
	}
	.card-master__image {
		width: 180px;
		height: 180px;
		margin-bottom: 20px;
	}
	.card-master {
		padding: 20px;
		margin-bottom: 25px;
	}
	.reviews {
		padding-bottom: 25px;
	}
	.nav-personal {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-personal li {
		width: 100%;
	}
	.nav-personal li:not(.active) {
		display: none;
	}
	.nav-personal li.active {
		order: -2;
	}
	.btn-nav {
		top: 15px;
		left: 10px;
		right: 15px;
		height: 35px;
		padding-right: 10px;
		border-radius: 6px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		cursor: pointer;
		color: #0094FF;
		border: 1px solid #0094FF;
	}
	.btn-nav i {
		transition: all 0.3s;
	}
	.btn-nav.active i {
		transform: rotate(180deg);
	}
	.nav-person-wrap {
		position: relative;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.text-page p {
		margin-bottom: 15px;
	}
	.text-page {
		font-size: 14px;
	}
	.section-welcome .text-page br {
		display: none;
	}
	.title-middle {
		font-size: 20px;
	}
	.title-big {
		font-size: 32px;
	}
	.line-search {
		display: block;
		margin-bottom: 20px;
	}
	.btn-main.btn-main_catalog {
		margin: 0;
		margin-bottom: 15px;
	}
	.col-12 .item-advertisement,
	.col-lg-6 .item-advertisement {
		padding: 10px;
	}
	.col-12 .item-advertisement__image,
	.col-lg-6 .item-advertisement__image,
	.item-advertisement__image {
		height: 240px;
		margin-right: 0;
		margin-bottom: 12px;
	}
	.col-12 .item-advertisement__image,
	.col-lg-6 .item-advertisement__image {
		left: 0;
		width: 100%;
		top: 0;
		position: relative;
	}
	.col-lg-6 .item-advertisement__date::after {
		width: 100%;
		position: absolute;
		top: auto;
		margin: 0;
		bottom: 0;
	}
	.col-lg-6 .item-advertisement__date {
		padding-bottom: 12px;
	}
	.btn-like,
	.col-lg-6 .btn-like,
	.col-12 .btn-like {
		top: 20px;
		right: 20px;
		left: auto;
	}
	.item-advertisement__buttons .btn-main
	.col-12 .item-advertisement__buttons .btn-main,
	.col-lg-6 .item-advertisement__buttons .btn-main {
		flex: initial;
		flex-grow: 1;
	}
	.item-advertisement__more,
	.col-lg-6 .item-advertisement__more,
	.col-12 .item-advertisement__more {
		padding: 10px 0;
		text-align: right;
	}
	.col_for {
		order: -1;
	}
	.slider-nav .slick-arrow {
		width: 24px;
		height: 24px;
		color: #223683;
		font-size: 15px;
		background: transparent;
		transform: rotate(90deg);
		left: 0;
		right: 0;
		margin: 0 auto;
		border: none;
	}
	.slider-nav .slick-prev {
		top: -10px;
	}
	.slider-nav .slick-next {
		bottom: -10px;
		top: auto;
	}
	.slider-nav__item {
		height: 85px;
		margin: 0 3px;
	}
	.slider-nav {
		margin: 0 -3px;
		margin-top: 15px;
	}
	.slider-for__item {
		height: 270px;
	}
	.page-card .tabs {
		margin-top: 20px;
	}
	.page-personal .col-12 .item-advertisement__image,
	.page-catalog .col-12 .item-advertisement__image {
		width: 100%;
		height: 240px;
	}
	.sorting-catalog .item-select {
		width: 205px;
	}
	.tabs_main li {
		margin-right: 22px;
	}
	.stats-block {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.filter-messages {
		flex-wrap: wrap;
	}
	.filter-messages .search-catalog {
		max-width: 100%;
		width: 100%;
		flex: none;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.filter-messages .item-select {
		margin-right: 0;
		margin-left: 10px;
		width: 194px;
	}
	.item-chat {
		flex-wrap: wrap;
	}
	.item-chat__content {
		padding-top: 10px;
		flex: none;
		width: 100%;
	}
	.item-chat__date {
		order: -1;
	}
	.item-chat__image {
		order: -2;
	}
	.item-chat {
		font-size: 13px;
		padding: 15px 0;
	}
	.item-chat__date {
		margin-top: 29px;
	}
	.item-chat .btn-more {
		top: 12px;
	}
	.item-chat__image {
		width: 70px;
		height: 70px;
		margin: 0;
	}
	.btn-back {
		order: -3;
	}
	.card-master .rating-wrap__reviews {
		margin-bottom: 10px;
	}
	.card-master__image {
		margin-bottom: 15px;
	}
	.item-service__image {
		height: 130px;
	}
	.item-portfolio__image {
		height: 155px;
	}
	.page-card-master {
		padding-bottom: 30px;
	}
	.reviews .title-section {
		padding-bottom: 18px;
	}
	.rating-main .rating-wrap__value {
		font-size: 21px;
	}
	.rating-main .rating__item {
		font-size: 17px;
	}
	.slider-services,
	.slider-portfolio {
		padding-bottom: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.buttons-wrap .btn-main {
		flex-grow: 1;
		font-size: 13px;
		margin: 0 2px;
		padding: 0 4px;
		min-width: initial;
	}
	.buttons-wrap {
		margin: 0 -2px;
	}
	.section-welcome {
		background-position: center;
	}
	.billbord {
		padding-top: 110px;
	}
	.descr-billbord {
		font-size: 14px;
		padding-bottom: 10px;
		letter-spacing: 3px;
	}
	.title-big {
		font-size: 24px;
	}
	.slider-billbord {
		margin-bottom: 30px;
	}
	.form-search .btn-main img {
		max-width: 18px;
		margin-right: 10px;
	}
	.form-search .btn-main {
		width: 120px;
		padding-right: 10px;
	}
	.col-12 .item-advertisement__image, .col-lg-6 .item-advertisement__image, .item-advertisement__image {
		height: 215px;
	}
	.slider-billbord .title-big {
		max-width: 345px;
	}
	.services {
		padding-top: 25px;
	}
	.feature {
		font-size: 13px;
	}
	.tabs {
		font-size: 12px;
	}
	.tabs a {
		border-width: 2px;
	}
	.slider-nav__item {
		height: 67px;
	}
	.slider-for__item {
		height: 233px;
	}
	.sorting-catalog {
		display: block;
	}
	.search-catalog {
		margin: 0;
		margin-bottom: 20px;
	}
	.sorting-catalog .item-select {
		width: 100%;
	}
	.page-catalog .col-12 .item-advertisement__image {
		height: 215px;
	}
	.page-catalog .col-12 .item-advertisement__title br {
		display: none;
	}
	.tab-container {
		padding-top: 15px;
	}
	.location-map {
		margin-bottom: 14px;
	}
	.btn-main_right {
		margin: 0;
		margin-top: 15px;
	}
	.tabs_main {
		font-size: 14px;
	}
	.filter-messages .item-select {
		width: 100%;
		margin: 0;
		margin-top: 15px;
	}
	.page-personal .title-section {
		padding-bottom: 20px;
	}
	.btn-main_addmessage {
		width: 240px;
		display: flex;
		margin: 0 auto;
		margin-top: 30px;
	}
	.wallet-block .tabs {
		font-size: 11px;
		margin-bottom: 11px;
		padding-top: 0px;
	}
	.tab-container_wallet {
		padding: 15px;
	}
	.wallet-block .btn-main {
		width: 100%;
	}
	.item-service__image {
		height: 145px;
	}
	.item-portfolio__image {
		height: 220px;
	}
	.item-review {
		padding: 20px;
	}
	.item-review__image {
		width: 40px;
		height: 40px;
		margin-bottom: 12px;
		top: 0;
		left: 0;
		position: relative;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu-mobile {
		display: none !important;
	}
	.nav-personal li {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1470px;
	}
}